{% extends 'fitness_app/base.html' %} {% load staticfiles %} {% block content %}
<div id="about">

  <h1>About Us</h1>
  <p>We built this as a resource for ourselves and anybody else pursuing a fit lifestyle. We wanted to create a centralized space where we could quickly search up exercises and food macros as well as save our own for future reference.
  </p>
  <p>We have only completed version 1.0, but intend to expand the featues towards a more social app where users can friend each other and quickly share what they've saved.</p>
  <p>Feel free to check out this projects source code
    <a href="https://github.com/gabe-ng/fitness-app" target="_blank">here</a>.
  </p>
  <p>Thanks for stopping by!</p>
</div>
{% endblock %}