{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <title>Suite Health</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
</head>

<body>
  <nav>
    <h1>
      <a href="{% url 'homepage' %}">Suite Health</a>
    </h1>
    {% if user.is_authenticated %}
    <a class="aHeader" href="{% url 'dashboard' username=user.username %}">Hello, {{ user.username }}!</a> |
    <a class="aHeader" href="{% url 'logout' %}">Logout</a>
    <span id="username">{{user.username}}</span>
    {% else %}
    <a class="aHeader" href="{% url 'login' %}">Login</a> |
    <a class="aHeader" href="{% url 'signup' %}">Signup</a>
    {% endif %}
  </nav>

  <div class="contentWrapper">
    {% block content %} {% endblock %}
  </div>

  <div class="chatbot-container">
    <div class="chat hide">
      <iframe allow="microphone;" width="350" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/1758506f-9629-42b2-92bb-bbfb80bc9172">
      </iframe>
    </div>
    <div class="chatbot">
      <img src="{% static 'images/bot.png' %}" alt="" class="chatbot-icon">
    </div>
  </div>

  <footer>
    <p>&copy; Suite Health 2018 |
      <a href="{% url 'about' %}">About Us</a>
    </p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="{% static 'js/homepage.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/Pagination.js' %}"></script>
</body>

</html>