{% extends 'fitness_app/base.html' %} {% block content %}
<div class="mainWrapper">

  <div class="userInfo">
    <h2>User Info</h2>
    <div id="userInformation"></div>
    <div class="createBtns">
      <a id="createCircuit" href="{% url 'circuits' %}">Create Circuit</a>
      <a id="createMeal" href="{% url 'meals' %}">Create Meal</a>
    </div>
  </div>

  <div class="healthWrapper">
    <div class="savedFood">
      <h3>Saved Circuits</h3>
      <div id="workoutList">
        {% for circuit in circuits %}
        <p>{{ circuit.name }} :
          <a href="{% url 'delete_circuit' username=user.username id=circuit.id %}">delete</a>
        </p>
        {% endfor %}
      </div>
    </div>
    <div class="savedWorkout">
      <h3>Saved Meals</h3>
      <div id="mealList">
        {% for meal in meals %}
        <p>{{ meal.label }} :
          <a href="{% url 'delete_meal' username=user.username id=meal.id %}">delete</a>
        </p>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="healthWrapper">
    <div class="savedWorkout">
      <h3>Saved Workouts</h3>
      <div id="mealList">
        {% for workout in workouts %}
        <p>{{ workout.name }} :
          <a href="{% url 'delete_workout' username=user.username id=workout.id %}">delete</a>
        </p>
        {% endfor %}
      </div>
    </div>
    <div class="savedWorkout">
      <h3>Saved Food</h3>
      <div id="mealList">
        {% for food in foods %}
        <p>{{ food.label }} :
          <a href="{% url 'delete_food' username=user.username id=food.id %}">delete</a>
        </p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}