{% extends 'fitness_app/base.html' %} {% block content %}
<div class="mainWrapper">

  <div class="infoCreate">
    <div class="userInfo">
      <h2>User Info</h2>
    </div>
    <div class="createBtns">
      <button id="createCircuit"><a href="{% url 'circuits' %}">create circuit</a></button>
      <button id="createMeal"><a href="{% url 'meals' %}">create meal</a></button>
    </div>
  </div>

  <div class="healthWrapper">
    <div class="savedFood">
      <h3>Saved Food</h3>
      <div>
        {% for circuit in circuits %}
        {{ circuit.name }}
        {% endfor %}
      </div>
    </div>
    <div class="savedWorkout">
      <h3>Saved Workout</h3>
      <div>
        {% for meal in meals %}
        {{ meal.label }}
        {% endfor %}
      </div>
    </div>
  </div>

</div>
{% endblock %}
