{% extends 'fitness_app/base.html' %} {% block content %}
<div class="homepage-content">
    <div class="feed-wrap">
        <section id="circuit-feed" class="circuit-feed">

        </section>
        <section id="meal-feed" class="meal-feed">
        </section>
    </div>
    <section id="search-content" class="search-content">
        <section id="homepage-search" class="homepage-search">
            <form class="homepage-form">
                <div class="form-group">
                    <label>Search For: </label>
                    <select id="search-type" class="form-control">
                        <option value="workouts">Workouts</option>
                        <option value="food">Food</option>
                    </select>
                    <span id="muscle-select-span">
                        <select id="muscle-selection" class="form-control">
                            <option value="4">Chest</option>
                            <option value="3">Serratus Anterior</option>
                            <option value="2">Deltiods</option>
                            <option value="1">Biceps Long Head</option>
                            <option value="13">Bicep Short Head</option>
                            <option value="5">Triceps</option>
                            <option value="9">Traps</option>
                            <option value="12">Lats</option>
                            <option value="6">Abdominals</option>
                            <option value="14">Obliques</option>
                            <option value="8">Glutes</option>
                            <option value="10">Quadricepss</option>
                            <option value="11">Hamstring</option>
                            <option value="7">Upper Calf</option>
                            <option value="15">Lower Calf</option>
                        </select>
                    </span>
                </div>
                <input id="food-selection" type="text" name="search" />
                <input id="find-button" class="searchSubmit" type="submit" value="Search!">
            </form>
        </section>
        {% csrf_token %}
        <section id="search-results" class="search-results">
            <p>Here's some stuff to search for...</p>
        </section>
    </section>
</div>
{% endblock %}