{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
  <title>landing page</title>
</head>

<body>
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div id="titleBox">
          <h1>fitness app</h1>
        </div>
        <div id="buttons">
          {% if user.is_authenticated %}
          <a href="{% url 'homepage' %}">welcome back {{ user.username }}</a>
          {% else %}
          <a href="{% url 'login' %}">login or signup</a>
          <a href="{% url 'homepage' %}">continue as guest</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</body>

</html>