@import url("https://fonts.googleapis.com/css?family=Nunito");

/*
main stuff
================================================*/
body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #ffffff;
  color: #79B279;
  height: 98vh;
}

h1{
  margin: 0 0 9px 10px;
}

nav {
  background-color: lightgrey;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: #b2678c;
}

p {
  margin: 0;
}
input {
  padding: 10px;
  margin-top: 5px;
}

footer{
  text-align: center;
  background-color: lightgrey;
}

.aHeader{
  margin: 8px 10px 0;
}

.contentWrapper{
  height: 90%;
}

/*
Dashboard
================================================*/
.mainWrapper{
  display: flex;
  flex-direction: row;
  border: solid 1px black;
  height: 100%;
  width: 100%;
}
.infoCreate{
  width: 40%;
}

.userInfo{
  height: 94%;
  border: solid 1px black;
  margin: 2% 2% 0 1%;
  text-align: center;
}

.mealCreate, .circuitCreate{
  display: none;
}

.healthWrapper{
  height: 90%;
  width: 58%;
  text-align: center;
}

.savedFood{
  height: 49%;
  margin-top: 2%;
  margin-bottom: 3%;
  border: solid 1px black;
}
.savedWorkout{
  height: 49%;
  margin-bottom: 4%;
  border: solid 1px black;
}

/*
Homepage
================================================*/
.homepage-content {
  display: flex;
  height: 100%;
  width: 100%;
}

.feed-wrap {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.circuit-feed {
  background-color: yellow;
  height: 100%;
  width: 100%;
}

.meal-feed {
  background-color: green;
  height: 100%;
  width: 100%;
}

.search-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.homepage-search {
  background-color: pink;
  margin: 0;
}

.homepage-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-results {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
