@import url("https://fonts.googleapis.com/css?family=Nunito");

/*
main stuff
================================================*/
body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #02243e;
  color: #2cdad9;
}

h1 {
  margin: 0;
  padding: 0.5em;
  color: #2cdad9;
}

nav {
  background-color: #146381;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: #2cdad9;
}

p {
  padding: 0.5em;
  margin: 0;
}
input {
  padding: 10px;
  margin: 1em;
}

form {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

input[type="submit"] {
  font-size: 1em;
  color: #2cdad9;
  padding: 0.5em;
  margin: 1.5em 0.5em 0.5em 0.5em;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #2cdad9;
}

input[type="submit"]:hover {
  background-color: #2cdad9;
  color: #02243e;
}

select,
input[type="text"],
input[type="password"] {
  font-size: 1em;
  color: #2cdad9;
  padding: 0.5em;
  margin: 1.5em 0.5em 0.5em 0.5em;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #2cdad9;
}

::placeholder {
  color: #19779c;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #146381;
}

.aHeader {
  margin: 8px 10px 0;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#login {
  text-align: center;
  padding: 5em;
}

#signup {
  text-align: center;
  padding: 5em;
}

#circuit {
  text-align: center;
  padding: 5em;
}

#meal {
  text-align: center;
  padding: 5em;
}

#forms {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*
Dashboard
================================================*/
.mainWrapper {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;
}

.userInfo {
  height: 94%;
  border: solid 1px #2cdad9;
  margin: 1em;
  text-align: center;
}

#userInformation {
  min-height: 50vh;
  max-width: 15em;
}

.mealCreate,
.circuitCreate {
  display: none;
}

.healthWrapper {
  height: 90%;
  width: 58%;
  text-align: center;
}

.savedFood {
  margin: 1em;
  border: solid 1px #2cdad9;
}
.savedWorkout {
  margin: 1em;
  border: solid 1px #2cdad9;
}

#workoutList {
  display: flex;
  flex-direction: column;
}

#mealList {
  display: flex;
  flex-direction: column;
}

.createBtns {
  display: flex;
}

#createMeal {
  font-size: 1em;
  padding: 0.5em;
  margin: 1.5em 0.5em 0.5em 0.5em;
  background-color: transparent;
  border: 1px solid #2cdad9;
}

#createCircuit {
  font-size: 1em;
  padding: 0.5em;
  margin: 1.5em 0.5em 0.5em 0.5em;
  background-color: transparent;
  border: 1px solid #2cdad9;
}

/*
Homepage
================================================*/

#horizontal {
  opacity: 0.5;
  border-color: #2cdad9;
}

#username {
  display: none;
}

.homepage-content {
  display: flex;
  height: 100%;
  width: 100%;
}

.feed-wrap {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 85vh;
  position: relative;
}

.circuit-feed {
  background-color: #02243e;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #2cdad9;
  overflow: auto;
}

.meal-feed {
  background-color: #02243e;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.search-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.homepage-search {
  margin: 0;
}

.homepage-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 1em;
}

#food-selection {
  display: none;
}

.search-results {
  background-color: #02243e;
  height: 100%;
  width: 100%;
  padding-left: 5em;
  max-width: 40em;
  box-sizing: border-box;
}

.ulClassName li {
  display: inline;
  padding: 0 20px;
}

.ulClassName li:first {
  padding-left: 0;
}

.ulClassName {
  display: flex;
  list-style-type: none;
  margin: 0 auto 100px;
}

.paginationjs {
  display: flex;
}

/* Chatbot */
.chatbot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.chat {
  position: fixed;
  bottom: 125px;
  right: 10px;
}

.chatbot {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 65px;
  right: 30px;
}

.chatbot-icon {
  max-width: 75px;
  max-height: 75px;
  cursor: pointer;
}

.hide {
  display: none;
}

/************* about page ***************/
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.p-wrap {

  text-align: center;
}

#about p {
  max-width: 50%;
}

#about a {
  color: white;
}

#about a:hover {
  text-decoration: underline;
}
