@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #FFF2EC;
  color: #70B2AD;
  text-align: center;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#titleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#buttons a {
  text-decoration: none;
  color: #70B2AD;
  padding: 1em;
}

#buttons a:hover {
  transition: 0.3s;
  color: #8DE0DA;
}
