{% extends 'templates/base.html' %} {% block content %}

<nav>
    <h4>Fitness App</h4>
    <ul id=signs>
        <li id='sign_up'>
            <input type='submit'>Sign Up</li>
        <li id='sign_in'>
            <input type='submit'>Sign In</li>
    </ul>
</nav>

<h3>Search for foods, meals, workouts, and more.</h3>
<input type="submit" placeholder="Search">

<aside>
    <section class='side_feed'>
        <h4>Workout Feed</h4>
    </section>
    <section class='side_feed'>
        <h4>Meal Feed</h4>
    </section>
</aside>

{% endblock %}